@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  background: white;
  padding-top: 64px;
}
em {
  font-weight: 700;
}
.main {
  font-size: 14px;
}
.header {
  position: fixed;
  z-index: 1002 !important;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  padding: 10px;
  background: #66bb6a;
  border-bottom: 2px solid #27ae60;
}
.header .profile {
  float: right;
  line-height: 44px;
  color: white;
  font-size: 16px;
  vertical-align: middle;
}
.header .profile img {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  margin-left: 15px;
  display: inline-block;
}
.header .profile img:hover {
  box-shadow: inset 0 0 0 22px rgba(0, 0, 0, 0.3);
}
.profileDialog {
  width: 400px;
}
.profileDialog .dialogHeader {
  background: #66bb6a;
  width: 100%;
  height: 200px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  margin-bottom: 80px;
}
.profileDialog .profileImage {
  position: absolute;
  top: 120px;
  height: 148px;
  width: 148px;
  left: 50px;
  border: 4px solid white;
  border-radius: 8px;
}
.profileDialog .profileImage img {
  height: 140px;
  width: 140px;
}
.profileDialog .profileImage #editImageButton {
  opacity: 0;
  position: absolute;
  top: 90px;
  left: 10px;
  width: 120px;
  transition: opacity 0.4s;
  background: white;
  border-radius: 2px;
}
.profileDialog .profileImage:hover #editImageButton {
  opacity: 1;
}
.profileDialog .name {
  position: absolute;
  top: 160px;
  line-height: 30px;
  left: 220px;
  color: white;
  font-size: 28px;
}
.profileDialog .dialogContent {
  padding: 20px 50px;
}
.container {
  position: relative;
  width: 100%;
  padding-left: 300px;
}
.roomView {
  color: #969B9F;
  overflow: hidden;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.roomView .tabContent {
  padding: 20px;
  min-height: 400px;
}
.roomView .messages {
  padding-bottom: 80px;
}
.roomView .messages:after {
  content: "";
  display: table;
  clear: both;
}
.roomView .message {
  white-space: pre;
  clear: both;
  text-align: center;
  margin-bottom: 10px;
}
.roomView .incoming,
.roomView .outgoing {
  max-width: 80%;
  padding: 10px;
}
.roomView .incoming {
  float: left;
  text-align: left;
}
.roomView .outgoing {
  float: right;
  text-align: right;
}
.roomView .bottomStatus {
  font-size: 11px;
  margin-top: 5px;
  height: 11px;
  margin-bottom: -5px;
}
.roomView .topStatus {
  font-size: 11px;
  margin-bottom: 2px;
}
.roomView .typing {
  clear: both;
}
.roomView .chatInput {
  position: fixed;
  border-top: 1px solid #ddd;
  bottom: 0;
  left: 300px;
  right: 0;
  z-index: 1001;
  opacity: 1;
  background: white;
  padding: 5px 20px;
  transition: opacity 0.5s;
}
.roomView .chatInput .sendButton {
  position: absolute;
  opacity: 0;
  top: -25px;
  right: 20px;
  z-index: 1002;
}
.roomView .loadPrevious {
  clear: both;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.roomView header {
  height: 200px;
}
.roomView header .roomName {
  font-size: 30px;
  padding-top: 100px;
  padding-left: 50px;
  color: white;
}
.roomView .headerBar {
  opacity: 1;
  position: absolute;
  top: 152px;
  width: 800px;
  transition: opacity .5s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.roomView .headerBar .roomName,
.roomView .headerBar .tabs,
.roomView .headerBar .menuButtons {
  display: inline-block;
  float: left;
  height: 48px;
  vertical-align: middle;
}
.roomView .headerBar .menuButtons {
  margin-right: 30px;
  float: right;
}
.roomView .headerBar .roomName {
  line-height: 48px;
  padding: 0px 30px;
  font-size: 26px;
  color: white;
  max-width: 200px;
  margin-left: -200px;
  opacity: 0;
  transition: margin-left 0.5s, opacity 0.5s;
}
.roomView .headerBar .tabs {
  width: 400px;
}
.roomView.fixed .headerBar {
  z-index: 1000;
  position: fixed;
  top: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.roomView.fixed .headerBar .roomName {
  margin-left: 0;
  opacity: 1;
}
.roomView.transitioning {
  margin-left: -1000px;
  opacity: 0;
}
.sideBar {
  position: fixed;
  background: white;
  z-index: 1000;
  padding-top: 64px;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  color: #A7A8AC;
  border-right: 1px solid #ddd;
}
.sideBar header {
  padding: 0 20px 20px;
}
.sideBar .title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.sideBar .conversation {
  padding: 10px 20px;
  display: block;
  font-size: 20px;
  line-height: 34px;
  color: #8F919F;
  text-decoration: none;
}
.sideBar .conversation .fa {
  height: 34px;
  width: 34px;
  font-size: 34px !important;
  float: left;
  margin-right: 20px;
  display: inline-block;
}
.sideBar .conversation img {
  height: 34px;
  width: 34px;
  float: left;
  margin-right: 20px;
  background: #666666;
  border-radius: 17px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.sideBar .conversation:visited {
  color: #8F919F;
  text-decoration: none;
}
.sideBar .conversation:hover {
  background: #eee;
}
.sideBar .conversation.selected {
  color: #389FFC;
}
.sideBar .conversation.selected:visited {
  color: #389FFC;
}
.sideBar .conversation.selected img {
  border-color: #389FFC;
}
.sideBar .conversation:after {
  content: "";
  display: table;
  clear: both;
}
.sideBar .conversation em {
  font-weight: 700;
  text-decoration: underline;
}
.center {
  margin: 100px auto 0;
  width: 400px;
}
.center button {
  margin-top: 20px !important;
}
.center .error {
  margin-top: 20px;
  color: #f44336;
}
.center .inner {
  padding: 0 20px 20px;
}
